.order {
  border: 5px solid teal;
  border-radius: 10px;
  display: inline-block;
  margin: 10px;
  background-color: #FFF;
}

.ingredient-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  width: 100%
}

.orders-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  padding: 20px;
}